# Stripe Secret Key
VITE_PUBLICATION_KEY=your_stripe_secret_key

# Jitsi Key
VITE_JAAS_APP_ID=your_jitsi_meet_key

# API Key for chatbot
VITE_API_KEY = 'your_api_key'

# Render URL For Model
VITE_MODEL_URL='your_model_hostname'

# Firebase Authentication Keys
VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id
